*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: sans-serif;
}

.exercise{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.exercise__img{
    width: 300px;
    height: 300px;
    position: relative;
}

.exercise__img img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border: 15px solid rgb(235, 235, 235);
}

.exercise__img:before,
.exercise__img:after{
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.exercise__img:before{
    border-top: 10px solid pink; 
    border-bottom: 10px solid pink;
    z-index: 1;
}
.exercise__img:after{
    border-left: 10px solid pink;
    border-right: 10px solid pink;  
    z-index: 3;
}







